[Desktop Entry]
Encoding=UTF-8
Name=Enyo Launcher
Comment=A front-end for Doom engines
Exec=enyo-doom
Terminal=false
Type=Application
Categories=Application;Game;
Icon=enyo_icon.png

